*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header{

    color: white;
}

.div{
    border: solid rgb(255, 0, 0);
    border-radius: 20px;
    margin: 20px;
    color: rgb(0, 0, 0);
}

.emotes{
    background-color: rgb(53, 52, 52);
    width: 130px;
    border: solid black;
    border-radius: 10px;
    margin-left: 10px;
}